<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma première page HTML</title>
</head>
<body>

    <header>
        <h1>{{ msg }}</h1>
    </header>

    <main>
        <p>Ceci est un paragraphe dans le contenu principal.</p>
    </main>

    <footer>
        <p>&copy; 2024 Ma première page HTML. Tous droits réservés.</p>
    </footer>

</body>
</html>
